.header-container {
    height: 4vh;
    width: 40%;
    margin: 0 30%;
    position: sticky;
    top: 1rem;
    background-color: rgb(124, 205, 37);
}
/* .header-container {
    height: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
.header-inner {
    width: 80%;
    height: inherit;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
} */

/* .header {
    background-color: var(--navbar-bg-color);
    height: auto;
    width: 'fit-content';
    padding: 1.8rem 6rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    color: var(--color);
}
.header > div {
    width: auto;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    height: auto;
}
.header > div:nth-last-child(-n+1){
    margin-left: auto;
}
.header > div > a {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    text-decoration: none;
    color: inherit;
}
.header > div > a > img {
    height: 1.9rem;
}
.header > div > a > p  {
    margin: 0;
} */