.home {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
/* .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 100%); 
    z-index: 1;
} */
.home > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    background-color: lightslategray;
    position: absolute;
    z-index: -1;
}
.home > p {
    height: fit-content;
    width: 20rem;
    font-size: 3.6rem;
    color: var(--secondary-color);
    font-weight: 500;
    text-align: right;
    top: 10vh;
    right: 7.5%;
    position: relative;
    margin: 0;  
    z-index: 2;
}

/* .main-home {
    height: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 2rem calc(15%/2);
    justify-content: center;
}
.full-length-crop {
    width: 100%;
    height: 35vh;
    display: grid;
    border-radius: 0.3rem;
    background-color: #D8DEF6;
}
.full-length-crop.right,
.full-length-crop.left {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}
.full-length-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}
.right-child {
    grid-column: 2;
    grid-row: 1;
}
.left-child {
    grid-column: 1;
    grid-row: 1;
}
.image-crop {
    height: inherit;
    border-radius: inherit;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}
.full-length-crop > div > p {
    width: auto;
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
}
.full-length-crop > div > button {
    font-size: 1.2rem;
    border: 0;
    width: auto;
    height: auto;
    padding: 0.2rem 0.8rem;
    border-radius: 0.2rem;
    background-color: #6F6868;
    color: white;
}
.half-length-crop {
    width: calc(50% - 1rem);
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 0.3rem;
    background-color: #ECE5E5;
}
.half-length-crop > img {
    height: inherit;
    width: 100%;
    border-radius: inherit;
}   
.half-length-inner {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    grid-column: 1;
    grid-row: 1;
}
.half-length-inner > p {
    margin: 0;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
}
.half-length-inner > button {
    font-size: 1.2rem;
    border: 0;
    width: auto;
    height: auto;
    padding: 0.2rem 1.1rem;
    border-radius: 2rem;
    background-color: white;
    color: black;
}
.quarter-length-crop {
    width: calc(25% - 3rem);
    text-decoration: none;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 0.3rem;
    background-color: #D9EBFC;
}
.quarter-length-crop > img {
    height: inherit;
    width: 100%;
    border-radius: inherit;
    z-index: -1;
}   
.quarter-length-inner {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    grid-column: 1;
    grid-row: 1;
}
.quarter-length-inner > p {
    margin: 0;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    color: black;
}
.quarter-length-inner > button {
    font-size: 1.2rem;
    border: 0;
    width: auto;
    height: auto;
    padding: 0.2rem 1.1rem;
    border-radius: 2rem;
    background-color: white;
    color: black;
}
.image-crop.full {
    grid-column: 1/3;
    object-fit: cover;
}
.image-crop.half {
    grid-column: 1/2;
    object-fit: cover;
}
.full-length-inner > button,
.half-length-inner > button,
.quarter-length-inner > button {
    transition: 
        opacity 0.4s,
        transform 1s;
    opacity: 1;
}
.quarter-length-crop {
    transition: 1s;
}
.full-length-inner > button:hover,
.half-length-inner > button:hover,
.quarter-length-inner > button:hover {
    transform: scale(1.05);
}
.quarter-length-crop:hover {
    transform: scale(1.01);
}
.full-length-crop > div > p,
.half-length-crop > div > p {
    color: white; 
}
.loginSuggestion {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.6rem;
    text-align: center;
}
.loginSuggestion > p {
    color: black;
    font-size: 1rem;
    margin: 0;
}
.loginSuggestion > a > button {
    width: max-content;
    color: white;
    background-color: #A19BC8;
    border-radius: 0.6rem;
    border: 0px transparent;
    padding: 0.3rem 1.5rem;
    font-size: 1.2rem;
}
.loginSuggestion > p:first-child {
    font-size: 1.2rem; 
}
.loginSuggestion > p > a > span {
    color: #0066FF;
}
.loginSuggestion > p > a > span:hover {
    cursor: pointer;
} */